@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #1a1a1a;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Add specific dark mode overrides */
@media (prefers-color-scheme: dark) {
  body {
    color-scheme: dark;
  }

  canvas {
    filter: invert(0.9) hue-rotate(180deg);
  }
}
